<div class="row main" style="min-height:680px;position:relative;background-color:#181818;">
  <div class="player" style="position:absolute;bottom:0px;width:100%;height:60px;background-color:#000;opacity:0.58;">Player here</div>
</div>
<div class="row roads" style="min-height:265px">
  <div class="col-md" style="">col 1</div>
  <div class="col-md" style=""> col 2</div>
  <div class="col-md" style="">col 3</div>
</div>
<div class="row albums" style="background-color:#176195;min-height:440px;">
  <h1 style="display:block;width:100%;">Top Albums</h1>
  <div class="col-lg thumb"><img src="http://via.placeholder.com/210x210"/></div>
  <div class="col-lg thumb"><img src="http://via.placeholder.com/210x210"/></div>
  <div class="col-lg thumb"><img src="http://via.placeholder.com/210x210"/></div>
  <div class="col-lg thumb"><img src="http://via.placeholder.com/210x210"/></div>
  <div class="col-lg thumb"><img src="http://via.placeholder.com/210x210"/></div>
</div>
<div class="row artists" style="min-height:415px;background-color:#2e2e2e;">
  <div class="col-md-8">Col 1</div>
  <div class="col-md-4 new_artists" style="display:grid; grid-template-rows: repeat(3, 80px);
grid-template-columns: repeat(4, 1fr); grid-row-gap:20px;
grid-column-gap: 20px;background-color:#0000003d;">
    <div class=""><img src="http://via.placeholder.com/80x80"/></div>
    <div class=""><img src="http://via.placeholder.com/80x80"/></div>
    <div class=""><img src="http://via.placeholder.com/80x80"/></div>
    <div class=""><img src="http://via.placeholder.com/80x80"/></div>
    <div class=""><img src="http://via.placeholder.com/80x80"/></div>
    <div class=""><img src="http://via.placeholder.com/80x80"/></div>
    <div class=""><img src="http://via.placeholder.com/80x80"/></div>
    <div class=""><img src="http://via.placeholder.com/80x80"/></div>
    <div class=""><img src="http://via.placeholder.com/80x80"/></div>
    <div class=""><img src="http://via.placeholder.com/80x80"/></div>
  </div>
</div>
<div class="row recent" style="min-height:415px;">
  <div class="col-lg thumb"><img src="http://via.placeholder.com/210x210"/></div>
  <div class="col-lg thumb"><img src="http://via.placeholder.com/210x210"/></div>
  <div class="col-lg thumb"><img src="http://via.placeholder.com/210x210"/></div>
  <div class="col-lg thumb"><img src="http://via.placeholder.com/210x210"/></div>
  <div class="col-lg thumb"><img src="http://via.placeholder.com/210x210"/></div>
</div>
<div class="row footer" style="background-color:#000;color:#fff;height:45px;"><span class="text-center">Designed and developed by Fatima Burke</span></div>
