<h1>All Albums</h1>

<div class="row">
  <% @albums.each do |a| %>
    <div class="col">
      <p><%= image_tag a.art.url %></p>
      <p><%= a.title %> by <%= a.artist.name %></p>
      <%= link_to "Listen Now", album_path(a.id) %>
    </div>
  <% end %>
</div>
